@charset "utf-8";

body {
  background:linear-gradient(#FFFF,rgba(211, 208, 179, 0.863));
  font-size: 95%;
  font-family: "MS ゴシック",sans-serif;
  line-height: 1.5;
  color: #333333;
}

header {
  color: rgba(22, 77, 228, 0.925);
  background: linear-gradient(#FFFF,rgba(245, 6, 6, 0.733))
}

header{
  margin-bottom: 5em;
}